body{
    background-color: rgb(200, 255, 254);
    text-align: center;
}

.angrykittycat{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    padding-top:0px ;
    text-align: center;
}
.fose{
    width: 400px;
    height: 400px;
    
}
.foseio{
    width: 400px;
    height: 400px;
    padding-left: 50px;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ol{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
li{
    padding-top: 20px;
}
button{
    background-color: rgb(143, 143, 255);
    width: 200px;
    height: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}